.cabecalho {
    align-items: center;
    background-color: var(--cor-secundaria);
    display: grid;
    height: 100px;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    width: 100%;
}

.cabecalho__titulo {
    color: var(--branco);
    font-size: 1.5em;
    grid-column: 5/7;
}

.cabecalho__botao {
    justify-items: flex-end;
    grid-column: 9/10;
}

.btn-cabecalho {
    background: var(--cor-principal);
    border: none;
    color: var(--branco);
    cursor: pointer;
    padding: 0.25rem .5rem;    
    transition: 0.3s ease-in-out;
}

.btn-cabecalho:hover {
    background: var(--cor-terciaria);
    scale: 1.12;
}

@media screen and (max-width:1440px) {
    .cabecalho {
        grid-template-columns: repeat(5, 1fr);
    }

    .cabecalho__titulo {
        font-size: 1.2rem;
        grid-column: 3/4;
    }

    .cabecalho__botao {
        grid-column: 4/6;
        margin-right: 2rem;
    }
}

@media screen and (max-width:940px) {
    .cabecalho__titulo {
        font-size: 1rem;
        grid-column: 1/3;
        margin-left: 1rem
    }
}