.livro__resultado {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:rgb(255, 255, 255);
    position: relative;
    padding: 2em;
 
}

.card{
    min-width: 50%;
    max-width: 50%;
    height: 30vw;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    transform: translateY(-15%);
    box-shadow: 5px 5px 5px -3px #5c5a5a;
    display: inline-block;
    transform: translateY(-30px);
    display: inline-block;
    transform: translateY(-30px);
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}


.livro__card {
    /*align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;*/
    float: left;
    margin: 2.5%;
    width: 100%;
    left: 100%;
    
}



.livro__titulo {
   /* font-size: 1.5rem;
    font-weight: 600;*/
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.livro__autor {
    font-size: 1.15rem;
}

.livro__imagem {
    /*width: 200px;
    height: 250px;*/
    min-width: 28%;
    max-width: 32%;
    height: 20vw;
    display: inline-block;
    vertical-align:sub;
    object-fit:fill;
    padding: 10px; 
    transform: translateY(-15%);
    box-shadow: 20px 20px 20px -3px #888888;
}

